Afyon için ev satış fiyatları tahminlemesi

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
def drop_columns(df, cols):
    """
    This function removes the columns from a DataFrame.
    """
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [5]:
df = pd.read_csv('hepsiemlak.csv')

In [8]:


print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 2             232 non-null    object
 6   celly 3             232 non-null    object
 7   celly 4             232 non-null    object
 8   list-view-header    232 non-null    object
 9   list-view-location  232 non-null    object
 10  wp-btn              228 non-null    object
 11  he-lazy-image src   201 non-null    object
dtypes: float64(1), object(11)
memory usage: 21.9+ KB
None

In [9]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-header',
       'list-view-location', 'wp-btn', 'he-lazy-image src'],
      dtype='object')

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 2             232 non-null    object
 6   celly 3             232 non-null    object
 7   celly 4             232 non-null    object
 8   list-view-header    232 non-null    object
 9   list-view-location  232 non-null    object
 10  wp-btn              228 non-null    object
 11  he-lazy-image src   201 non-null    object
dtypes: float64(1), object(11)
memory usage: 21.9+ KB
None

In [13]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-header',
       'list-view-location', 'wp-btn', 'he-lazy-image src'],
      dtype='object')

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 2             232 non-null    object
 6   celly 3             232 non-null    object
 7   celly 4             232 non-null    object
 8   list-view-header    232 non-null    object
 9   list-view-location  232 non-null    object
 10  wp-btn              228 non-null    object
 11  he-lazy-image src   201 non-null    object
dtypes: float64(1), object(11)
memory usage: 21.9+ KB
None

In [16]:
df.drop(['photo-count','list-view-date','list-view-header','wp-btn ','he-lazy-image src '], errors='ignore')
df.head()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 2             232 non-null    object
 6   celly 3             232 non-null    object
 7   celly 4             232 non-null    object
 8   list-view-header    232 non-null    object
 9   list-view-location  232 non-null    object
 10  wp-btn              228 non-null    object
 11  he-lazy-image src   201 non-null    object
dtypes: float64(1), object(11)
memory usage: 21.9+ KB
None

In [18]:
df['location'] = df['img-link href'].apply(lambda x: x.split('/')[3])
df['city'] = df['location'].str.split('-').str[0]
df['district'] = df['location'].str.split('-').str[1]
df['neighborhood'] = df['location'].str.split('-').str[2:-1]
df['neighborhood'] = df['neighborhood'].apply(lambda x: '_'.join(x))
print(df['neighborhood'].unique())

['selcuklu' 'fatih' 'guvenevler' 'istiklal' 'dumlupinar' 'cumhuriyet'
 'gazi' 'erkmen_hurriyet' 'erenler' 'pancar' 'esrefpasa' 'korubasi'
 'dortyol' 'maresal_fevzi_cakmak' 'kanlica' 'erkmen_cumhuriyet' 'karaman'
 'hoca_ahmet_yesevi' 'ihsaniye' 'battalgazi' 'zafer' 'hattat_karahisar'
 'dervis_pasa' 'gazi_mehmet_cavus' 'marulcu' 'hasan_karaagac' 'ornekevler'
 'kocatepe' 'yarenler' 'ali_ihsan_pasa' 'ece' 'sadikbey' 'kasimpasa'
 'sahipata' 'esentepe' 'yaylabagi_bahcelievler' 'olucak' 'osman_gazi'
 'cay' 'erkmen_fevzi_cakmak' 'camikebir' 'hamidiye' 'karsiyaka' 'beyazit'
 'taspinar' 'gazligol_yunus_emre' 'nazmi_saatci' 'mecidiye' 'burmali'
 'yaylabagi_esentepe' 'yeni' 'ali_cetinkaya' 'yaylabagi_ataturk' 'elbiz'
 'susuz_sakarya' 'akmescit' 'sulun_hisar' 'yenice']

In [19]:
s = "https://www.hepsiemlak.com/afyonkarahisar-merkez-selcuklu-satilik/daire/156595-63"
x = s.split('/')[3]
print (x)

afyonkarahisar-merkez-selcuklu-satilik

In [98]:
x.split('-')

['afyonkarahisar', 'merkez', 'selcuklu', 'satilik']

In [20]:
print(df[['city', 'district', 'neighborhood']].sample(50))

               city  district          neighborhood
22   afyonkarahisar    merkez     erkmen_cumhuriyet
51   afyonkarahisar    merkez        ali_ihsan_pasa
194  afyonkarahisar    merkez            ornekevler
207  afyonkarahisar    merkez     hoca_ahmet_yesevi
113  afyonkarahisar    merkez                  gazi
223  afyonkarahisar    merkez              akmescit
172  afyonkarahisar    merkez              mecidiye
145  afyonkarahisar  sandikli                   ece
106  afyonkarahisar    merkez  maresal_fevzi_cakmak
184  afyonkarahisar   emirdag                  yeni
37   afyonkarahisar    merkez               erenler
92   afyonkarahisar    merkez               erenler
88   afyonkarahisar    merkez                 zafer
36   afyonkarahisar     dinar     gazi_mehmet_cavus
206  afyonkarahisar       cay                 elbiz
103  afyonkarahisar    merkez              selcuklu
4    afyonkarahisar    merkez            dumlupinar
91   afyonkarahisar    merkez               dortyol
28   afyonkarahisar  bolvadin              ihsaniye
161  afyonkarahisar    merkez               kanlica
152  afyonkarahisar    merkez       erkmen_hurriyet
127  afyonkarahisar    merkez               erenler
5    afyonkarahisar    merkez                 fatih
135  afyonkarahisar    merkez              selcuklu
76   afyonkarahisar    merkez             kasimpasa
78   afyonkarahisar    merkez            dumlupinar
167  afyonkarahisar    merkez            cumhuriyet
83   afyonkarahisar    merkez               erenler
17   afyonkarahisar    merkez               dortyol
40   afyonkarahisar    merkez               erenler
31   afyonkarahisar    merkez            guvenevler
115  afyonkarahisar    merkez               marulcu
151  afyonkarahisar    merkez                 zafer
44   afyonkarahisar    merkez              yarenler
177  afyonkarahisar    merkez               burmali
57   afyonkarahisar    merkez              selcuklu
189  afyonkarahisar    merkez     erkmen_cumhuriyet
25   afyonkarahisar    merkez               erenler
179  afyonkarahisar    merkez     erkmen_cumhuriyet
180  afyonkarahisar    merkez              selcuklu
84   afyonkarahisar    merkez               marulcu
150  afyonkarahisar  ihsaniye   gazligol_yunus_emre
227  afyonkarahisar    merkez            cumhuriyet
16   afyonkarahisar     dinar              korubasi
74   afyonkarahisar    merkez              esentepe
56   afyonkarahisar    merkez            ornekevler
146  afyonkarahisar    merkez              sahipata
159  afyonkarahisar    merkez             karsiyaka
58   afyonkarahisar    merkez               dortyol
86   afyonkarahisar    merkez                olucak

In [22]:
print(df['celly'].unique())

['2 +\n                          1' '3 +\n                          1'
 '4 +\n                          1' '1 +\n                          1'
 '6 +\n                          2' '2 +\n                          0'
 '6 +\n                          1' '5 +\n                          1'
 '5 +\n                          2' '3 +\n                          3']

In [23]:
df['celly'] = df['celly'].apply(lambda x: x.replace('Stüdyo', '1 + 0'))
df['celly'] = df['celly'].apply(lambda x: x.replace('\n', ''))
df['room'] = df['celly'].apply(lambda x: x.split('+')[0]).astype(int)
df['living_room'] = df['celly'].apply(lambda x: x.split('+')[1]).astype(int)

In [24]:
print(df['room'].unique())
print(df['living_room'].unique())

[2 3 4 1 6 5]
[1 2 0 3]

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 2             232 non-null    object
 6   celly 3             232 non-null    object
 7   celly 4             232 non-null    object
 8   list-view-header    232 non-null    object
 9   list-view-location  232 non-null    object
 10  wp-btn              228 non-null    object
 11  he-lazy-image src   201 non-null    object
 12  location            232 non-null    object
 13  city                232 non-null    object
 14  district            232 non-null    object
 15  neighborhood        232 non-null    object
 16  room                232 non-null    int64
 17  living_room         232 non-null    int64
dtypes: float64(1), int64(2), object(15)
memory usage: 32.8+ KB
None

In [26]:
print(df['celly 2'].unique())

['102 m²' '105 m²' '120 m²' '124 m²' '170 m²' '125 m²' '53 m²' '54 m²'
 '134 m²' '60 m²' '236 m²' '180 m²' '88 m²' '140 m²' '130 m²' '90 m²'
 '48 m²' '95 m²' '165 m²' '110 m²' '50 m²' '117 m²' '58 m²' '55 m²'
 '160 m²' '135 m²' '100 m²' '65 m²' '159 m²' '145 m²' '115 m²' '175 m²'
 '85 m²' '155 m²' '200 m²' '56 m²' '57 m²' '280 m²' '150 m²' '137 m²'
 '220 m²' '76 m²' '108 m²' '52 m²' '75 m²' '196 m²' '92 m²' '240 m²'
 '185 m²' '138 m²' '256 m²' '97 m²' '73 m²' '70 m²' '156 m²' '113 m²'
 '116 m²']

In [27]:
# m' ve binlik gösterimi noktayı sildim
df['celly 2'] = df['celly 2'].apply(lambda x: x.replace('.', ''))
df['area'] = df['celly 2'].apply(lambda x: x.split(' ')[0]).astype(int)

In [28]:
print(df['area'].unique())

[102 105 120 124 170 125  53  54 134  60 236 180  88 140 130  90  48  95
 165 110  50 117  58  55 160 135 100  65 159 145 115 175  85 155 200  56
  57 280 150 137 220  76 108  52  75 196  92 240 185 138 256  97  73  70
 156 113 116]

In [29]:
drop_columns(df, ['celly 2'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 3             232 non-null    object
 6   celly 4             232 non-null    object
 7   list-view-header    232 non-null    object
 8   list-view-location  232 non-null    object
 9   wp-btn              228 non-null    object
 10  he-lazy-image src   201 non-null    object
 11  location            232 non-null    object
 12  city                232 non-null    object
 13  district            232 non-null    object
 14  neighborhood        232 non-null    object
 15  room                232 non-null    int64
 16  living_room         232 non-null    int64
 17  area                232 non-null    int64
dtypes: float64(1), int64(3), object(14)
memory usage: 32.8+ KB
None

In [30]:
print(df['celly 3'].unique())

['1\n                        Yaşında'
 '13\n                        Yaşında'
 '23\n                        Yaşında'
 '16\n                        Yaşında'
 '26\n                        Yaşında' 'Sıfır Bina'
 '31\n                        Yaşında'
 '5\n                        Yaşında' '4\n                        Yaşında'
 '21\n                        Yaşında'
 '9\n                        Yaşında'
 '20\n                        Yaşında'
 '8\n                        Yaşında'
 '11\n                        Yaşında'
 '3\n                        Yaşında' '6\n                        Yaşında'
 '29\n                        Yaşında'
 '15\n                        Yaşında'
 '33\n                        Yaşında'
 '40\n                        Yaşında'
 '10\n                        Yaşında'
 '2\n                        Yaşında'
 '27\n                        Yaşında'
 '25\n                        Yaşında'
 '7\n                        Yaşında'
 '18\n                        Yaşında'
 '30\n                        Yaşında'
 '14\n                        Yaşında'
 '12\n                        Yaşında'
 '35\n                        Yaşında'
 '17\n                        Yaşında'
 '28\n                        Yaşında'
 '22\n                        Yaşında']

In [31]:
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('Sıfır Bina', '0 Yaşında'))
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('\n', ' '))
df['age'] = df['celly 3'].apply(lambda x: x.split(' ')[0]).astype(int)

In [32]:
print (df['age'].unique())

[ 1 13 23 16 26  0 31  5  4 21  9 20  8 11  3  6 29 15 33 40 10  2 27 25
  7 18 30 14 12 35 17 28 22]

In [33]:
drop_columns(df, ['celly 3'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   celly 4             232 non-null    object
 6   list-view-header    232 non-null    object
 7   list-view-location  232 non-null    object
 8   wp-btn              228 non-null    object
 9   he-lazy-image src   201 non-null    object
 10  location            232 non-null    object
 11  city                232 non-null    object
 12  district            232 non-null    object
 13  neighborhood        232 non-null    object
 14  room                232 non-null    int64
 15  living_room         232 non-null    int64
 16  area                232 non-null    int64
 17  age                 232 non-null    int64
dtypes: float64(1), int64(4), object(13)
memory usage: 32.8+ KB
None

In [34]:
print (df['celly 4'].unique())

['1. Kat' 'Ara Kat' '3. Kat' '4. Kat' '2. Kat' 'Bodrum' 'Yüksek Giriş'
 '5. Kat' 'Kot 3' 'Zemin' 'Giriş Katı' 'En Üst Kat' '6. Kat' 'Bahçe Katı'
 'Kot 1' '10. Kat' 'Bodrum ve Zemin' '7. Kat' 'Villa Katı']

In [37]:
replace_dict = {
    'Kot 3': '-3. Kat',
    'Kot 1': '-1. Kat',
    'Yüksek Giriş': '1. Kat',
    'Ara Kat': '3. Kat',
    'En Üst Kat': '5. Kat',
    'Bahçe Katı': '0. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Bodrum': '0. Kat',
    'Kot 3': '-3. Kat',
    'Çatı Katı': '5. Kat',
    'Zemin': '0. Kat',
    'Giriş Katı': '0. Kat',
    'Villa Katı': '0. Kat',
    '21 ve üzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Asma Kat': '1. Kat',
    'Tripleks': '0. Kat',
    
}

df['celly 4'] = df['celly 4'].replace(replace_dict.keys(), replace_dict.values()).astype(str)
df['celly 4'].dropna(inplace=True)
df['floor'] = df['celly 4'].apply(lambda x: x.split('.')[0]).astype(int)

In [38]:
print(df['floor'].unique())

[ 1  3  4  2  0  5 -3  6 -1 10  7]

In [39]:
drop_columns(df, ['celly 4'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-price     232 non-null    object
 3   list-view-date      232 non-null    object
 4   celly               232 non-null    object
 5   list-view-header    232 non-null    object
 6   list-view-location  232 non-null    object
 7   wp-btn              228 non-null    object
 8   he-lazy-image src   201 non-null    object
 9   location            232 non-null    object
 10  city                232 non-null    object
 11  district            232 non-null    object
 12  neighborhood        232 non-null    object
 13  room                232 non-null    int64
 14  living_room         232 non-null    int64
 15  area                232 non-null    int64
 16  age                 232 non-null    int64
 17  floor               232 non-null    int64
dtypes: float64(1), int64(5), object(12)
memory usage: 32.8+ KB
None

In [40]:
print(df['list-view-price'].unique)

<bound method Series.unique of 0      4.350.000
1      2.300.000
2      3.250.000
3      2.950.000
4      5.750.000
         ...
227    1.925.000
228    9.800.000
229    2.750.000
230    2.350.000
231    3.250.000
Name: list-view-price, Length: 232, dtype: object>

In [41]:
df['list-view-price'] = df['list-view-price'].astype(str).apply(lambda x: x.replace('.', ''))
df['price'] = df['list-view-price'].astype(int)

In [42]:
print(df['price'].unique())

[4350000 2300000 3250000 2950000 5750000 4100000 1200000 5950000 2600000
 2900000 3190000 5150000 6000000 1350000 2500000 3800000 4665000 2550000
 4000000 2750000 3650000 3700000 4500000 2340000 1500000 4200000 2250000
 2425000 4490000 4050000 4400000 2775000 2350000 4550000 3750000 1520000
 2280000 3200000 1975000 2450000 1300000 3550000 4480000 1750000 2400000
 6850000 3350000 2580000 1800000 2850000 3900000 3600000 2975000 2200000
 1700000 1950000 4650000 3100000 4850000 3000000 4600000 1475000 1775000
 2000000 2700000 2875000 1460000 8250000 3950000 1497000 1450000 4150000
 2050000 6350000 5300000 2720000 4250000 1150000 1900000 2650000 1650000
 3500000 1480000 1175000 3450000 3300000 3850000 1260000 5200000 1399999
 4025000 6200000 1525000 3150000 1620000 1170000 5800000  920000 5000000
 5250000 4690000 1270000 2890000 6600000 9450000 3400000 5500000 1550000
 1400000 1870000  655000 5400000 5100000 4300000 1380000 2670000 2800000
 2620000 1925000 9800000]

In [43]:
drop_columns(df, ['list-view-price'])

In [44]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-date', 'celly',
       'list-view-header', 'list-view-location', 'wp-btn', 'he-lazy-image src',
       'location', 'city', 'district', 'neighborhood', 'room', 'living_room',
       'area', 'age', 'floor', 'price'],
      dtype='object')

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   img-link href       232 non-null    object
 1   photo-count         231 non-null    float64
 2   list-view-date      232 non-null    object
 3   celly               232 non-null    object
 4   list-view-header    232 non-null    object
 5   list-view-location  232 non-null    object
 6   wp-btn              228 non-null    object
 7   he-lazy-image src   201 non-null    object
 8   location            232 non-null    object
 9   city                232 non-null    object
 10  district            232 non-null    object
 11  neighborhood        232 non-null    object
 12  room                232 non-null    int64
 13  living_room         232 non-null    int64
 14  area                232 non-null    int64
 15  age                 232 non-null    int64
 16  floor               232 non-null    int64
 17  price               232 non-null    int64
dtypes: float64(1), int64(6), object(11)
memory usage: 32.8+ KB
None

In [46]:

# ilk 7 sütunu (indeks 0..6) sil
df.drop(columns=df.columns[:7], inplace=True)
# veya kopya olarak:
# df = df.iloc[:, 7:]

In [47]:
df.columns = df.columns.str.strip()

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   he-lazy-image src  201 non-null    object
 1   location           232 non-null    object
 2   city               232 non-null    object
 3   district           232 non-null    object
 4   neighborhood       232 non-null    object
 5   room               232 non-null    int64
 6   living_room        232 non-null    int64
 7   area               232 non-null    int64
 8   age                232 non-null    int64
 9   floor              232 non-null    int64
 10  price              232 non-null    int64
dtypes: int64(6), object(5)
memory usage: 20.1+ KB
None

In [49]:
df.drop(columns=['he-lazy-image src'], inplace=True, errors='ignore')
df.columns = df.columns.str.strip()

In [142]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      232 non-null    object
 1   city          232 non-null    object
 2   district      232 non-null    object
 3   neighborhood  232 non-null    object
 4   room          232 non-null    int64
 5   living_room   232 non-null    int64
 6   area          232 non-null    int64
 7   age           232 non-null    int64
 8   deneme        232 non-null    object
 9   floor         232 non-null    int64
 10  price         232 non-null    int64
dtypes: int64(6), object(5)
memory usage: 20.1+ KB
None

In [50]:
df.drop(columns=['deneme'], inplace=True, errors='ignore')
df.columns = df.columns.str.strip()

In [51]:
df.to_csv('data.csv', index=False)